<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tuni.sensortestapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SensorTestApp">
        <activity
            android:name=".ProximityActivity"
            android:label="@string/proximity_label"
            android:exported="false" />
        <activity
            android:name=".OrientationActivity"
            android:exported="false"
            android:label="@string/orientation_label" />
        <activity
            android:name=".PressureActivity"
            android:exported="false"
            android:label="@string/pressure_label" />
        <activity
            android:name=".HumidityActivity"
            android:exported="false"
            android:label="@string/humidity_label" />
        <activity
            android:name=".TemperatureActivity"
            android:exported="false"
            android:label="@string/temperature_label" />
        <activity
            android:name=".LightActivity"
            android:exported="false"
            android:label="@string/light_label" />
        <activity
            android:name=".OthersActivity"
            android:exported="false"
            android:label="Sensors" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/main_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>